.followed {
  background: aquamarine;
}

detail {
  float: left;
  position: fixed;
  top: 78px;
  background: yellow;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  z-index: 99;
  left: 230px;
}

.jobsTable>b {
  padding-right: 2px;
}

.jobsTable>span {
  background: #d7eef1;
  padding: 2px;
}

.mobilevisible {
  display: none;
}

.deleted {
  background-color: red;
}

@media only screen and (max-width: 796px) {

  /* For mobile phones: */
  .divCard {
    width: 100%;
    // display: block;
    // float: left;
  }

  .jobsTable {
    display: none;
  }

  .mobilehidden {
    display: none;
  }

  .mobilevisible {
    display: contents;
  }

  .mat-mdc-card-title {
    font-size: 14px;
    /* font-weight: 100; */
  }

  detail {
    float: left;
    position: fixed;
    top: 58px;
    background: #00aaff;
    margin: auto;
    width: 100%;
    border: 3px solid #35219b;
    padding: 4px;
    z-index: 99;
    left: 0px;
    max-height: 90%;
  }
}
