.followed {
  background: aquamarine;
}

detail {
  float: left;
  position: fixed;
  top: 78px;
  background: yellow;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  z-index: 99;
  left: 230px;
}

.jobsTable>b {
  padding-right: 2px;
}

.jobsTable>span {
  background: #d7eef1;
  padding: 2px;
}

.mobilevisible {
  display: none;
}

.deleted {
  background-color: red;
}

footer.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #673ab7;
  float: left;
  z-index: 2;
}


button.closeAll {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin: 5px 3px;
}

button.closeAll:hover,
button.closeAll:focus {
  background-color: #16437E;
  color: #ffffff;
}

button.closeAll:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

button.closeAll:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.countProjects {
  border: solid white;
  padding: 3px;
  margin: 3px;
  color: white;
  font-weight: bold;
  right: 30px;
  position: fixed;
  float: right;
  bottom: 5px;
}

@media only screen and (max-width: 796px) {

  /* For mobile phones: */
  .divCard {
    width: 100%;
    // display: block;
    // float: left;
  }

  .jobsTable {
    display: none;
  }

  .mobilehidden {
    display: none;
  }

  .mobilevisible {
    display: contents;
  }

  .mat-mdc-card-title {
    font-size: 14px;
    /* font-weight: 100; */
  }

  detail {
    float: left;
    position: fixed;
    top: 58px;
    background: #00aaff;
    margin: auto;
    width: 100%;
    border: 3px solid #35219b;
    padding: 4px;
    z-index: 99;
    left: 0px;
    max-height: 90%;
  }
}
