<ng-container *ngIf="!loading;else other_content">
    <div *ngIf="projects && projects.length == 0">
        <h1>There isnt more data</h1>
    </div>
    <div *ngFor="let oprj of projects" class="divCard">
        <!-- {{oprj|async|json}} -->
        <div *ngIf=" oprj | async as prj ;">

            <mat-card [ngClass]="{inutil:prj.status!='active'}" *ngIf="!prj.ignore" class="projectCard"
                [ngClass]="{followed: prj.follow,urgent:prj.urgent}">
                <mat-card-header>
                    <span class="titleProject" (click)="details(prj)">{{prj.title}} </span>
                    <div class="mobilevisible">
                        <button title="open" (click)="open(prj)">📂</button>
                        <button title="ignore" (click)="ignore(prj)">⛔</button>
                        <button title="follow" (click)="follow(prj)">⤴️</button>
                        <button title="bid" (click)="bid(prj)">🤑</button>
                    </div>

                </mat-card-header>
                <mat-card-content>
                    <div class="currentInfo">
                        <span class="fi fi-{{prj.currency.country | lowercase}}"></span>

                        <span
                            title='{{prj.budget.minimum|currency:prj.currency.code:"symbol"}}-{{prj.budget.maximum|currency:prj.currency.code:"symbol"}}({{prj.bid_stats.bid_avg|currency:prj.currency.code:"symbol"}}/{{prj.bid_stats.bid_count}})'>
                            <b>{{realCurrency(prj.budget.minimum,prj.currency.code)|currency:'BRL'}}-{{realCurrency(prj.budget.maximum,prj.currency.code)|currency:'BRL'}}</b>({{realCurrency(prj.bid_stats.bid_avg,prj.currency.code)|currency:'BRL'}}/{{prj.bid_stats.bid_count}})
                        </span>
                    </div>
                    <div class="jobsTable mobilehidden">
                        <b>Jobs</b>
                        <span>{{jobs(prj)}}</span>
                    </div>
                </mat-card-content>
                <mat-card-actions class="mobilehidden">
                    <button mat-stroked-button color="primary" title="open" (click)="open(prj)">📂</button>
                    <button mat-stroked-button color="primary" title="ignore" (click)="ignore(prj)">⛔</button>
                    <button mat-stroked-button color="primary" title="follow" (click)="follow(prj)">⤴️</button>
                    <button mat-stroked-button color="primary" title="bid" (click)="bid(prj)">🤑</button>
                    <div class="infoPrj">
                        <span class="mobilehidden">{{prj._id}}</span>
                        <span class="mobilehidden">
                            {{number2date(prj.time_updated)}}
                        </span>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
    <footer class="footer">
        <button class="closeAll" (click)="closeAll()">Close All</button>
        <span class="countProjects">{{projects.length}}</span>
    </footer>
</ng-container>

<ng-template #other_content>
    <h1>WAIT!!!!</h1>

    <h2>I doing my best to load more data!!!</h2>
</ng-template>